In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#  DATASET

In [2]:
data1 = pd.read_csv('salary_dataset.csv') #AisyahRagillia202131175

In [3]:
data1 #AisyahRagillia202131175

    no  YearsExperience    Salary
0    0              1.2   39344.0
1    1              1.4   46206.0
2    2              1.6   37732.0
3    3              2.1   43526.0
4    4              2.3   39892.0
5    5              3.0   56643.0
6    6              3.1   60151.0
7    7              3.3   54446.0
8    8              3.3   64446.0
9    9              3.8   57190.0
10  10              4.0   63219.0
11  11              4.1   55795.0
12  12              4.1   56958.0
13  13              4.2   57082.0
14  14              4.6   61112.0
15  15              5.0   67939.0
16  16              5.2   66030.0
17  17              5.4   83089.0
18  18              6.0   81364.0
19  19              6.1   93941.0
20  20              6.9   91739.0
21  21              7.2   98274.0
22  22              8.0  101303.0
23  23              8.3  113813.0
24  24              8.8  109432.0
25  25              9.1  105583.0
26  26              9.6  116970.0
27  27              9.7  112636.0
28  28             10.4  122392.0
29  29             10.6  121873.0

In [4]:
print(data1.head()) #AisyahRagillia202131175

   no  YearsExperience   Salary
0   0              1.2  39344.0
1   1              1.4  46206.0
2   2              1.6  37732.0
3   3              2.1  43526.0
4   4              2.3  39892.0

In [5]:
data2 = pd.read_csv('DATAPENJUALAN/data-penjualan.csv', delimiter=';') #AisyahRagillia202131175

In [6]:
data2.head() #AisyahRagillia202131175

   promosi  penjualan
0       25        100
1       27        105
2       29        108
3       30        109
4       35        120

In [7]:
data2.info() #AisyahRagillia202131175

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   promosi    15 non-null     int64
 1   penjualan  15 non-null     int64
dtypes: int64(2)
memory usage: 368.0 bytes

In [8]:
x = data1['YearsExperience'].values[:, np.newaxis]
y = data1['Salary'].values
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=0)

promosi = data2['promosi'].values[:, np.newaxis]
penjualan = data2['penjualan'].values 
#AisyahRagillia202131175

In [9]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression()
model2 = LinearRegression()

model1.fit(x_train, y_train)
model2.fit(x_train, y_train)
#AisyahRagillia202131175

LinearRegression()

In [10]:
x_test #AisyahRagillia202131175

array([[ 1.6],
       [10.4],
       [ 4.2],
       [ 4. ],
       [ 9.6],
       [ 8.8],
       [ 9.7],
       [ 4.1],
       [ 5.4]])

In [11]:
pred_salary = model1.predict(x_test)
print("Prediksi Gaji: ", pred_salary) #AisyahRagillia202131175

Prediksi Gaji:  [ 40818.78327049 123189.08258899  65155.46261459  63283.41035735
 115700.87356004 108212.66453108 116636.89968866  64219.43648597
  76387.77615802]

In [12]:
years_experience_to_predict = [[1.1], [11], [7]]
pred_salary_baru = model2.predict(years_experience_to_predict)


promosi_test = [[20], [100]]
pred_sales = model2.predict(promosi_test)

print("Prediksi Gaji: ", pred_salary_baru)
print("Prediksi Penjualan:", pred_sales)

#AisyahRagillia202131175

Prediksi Gaji:  [ 36138.65262739 128805.23936071  91364.19421593]
Prediksi Penjualan: [213047.59093645 961868.49383194]